.service-feed
    span.title Service Feed
    ul.messages-list(servicefeed)
        li Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        li Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        a.next-message-link(href="#") Next
        a.previous-message-link(href="#") Previous
