@import "reset.styl"
@import "ui.styl"
@import "lab.styl"

body {
    font-family: "Tahoma", sans-serif;
}
.header-wrapper {
    background-image: -webkit-linear-gradient(top, #353535, #1d1d1d);
    background-image: -moz-linear-gradient(top, #353535, #1d1d1d);
    background-image: -ms-linear-gradient(top, #353535, #1d1d1d);
    background-image: -o-linear-gradient(top, #353535, #1d1d1d);
    background-image: linear-gradient(top, #353535, #1d1d1d);
    border-bottom: 1px solid #fafafa;
    overflow: hidden;
}

header {
    .links-list {
        float: right;
        margin-bottom: 0;
        li {
            float: left;
            font-size: 12px;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            margin-bottom: 0;
        }
        li.settings-link {
            background: url("../images/icon-settings-link-inactive.png") no-repeat center 25px;
        }
        li.settings-link.active {
            background: url("../images/icon-settings-link-active.png") no-repeat center 25px, -webkit-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-settings-link-active.png") no-repeat center 25px, -moz-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-settings-link-active.png") no-repeat center 25px, -ms-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-settings-link-active.png") no-repeat center 25px, -o-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-settings-link-active.png") no-repeat center 25px, linear-gradient(top, #535353, #2f2f2f);
        }
        li.users-link {
            background: url("../images/icon-users-link-inactive.png") no-repeat center 25px;
        }
        li.users-link.active {
            background: url("../images/icon-users-link-active.png") no-repeat center 25px, -webkit-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-users-link-active.png") no-repeat center 25px, -moz-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-users-link-active.png") no-repeat center 25px, -ms-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-users-link-active.png") no-repeat center 25px, -o-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-users-link-active.png") no-repeat center 25px, linear-gradient(top, #535353, #2f2f2f);
        }
        li.bundles-link {
            background: url("../images/icon-bundles-link-inactive.png") no-repeat center 25px;
        }
        li.bundles-link.active {
            background: url("../images/icon-bundles-link-active.png") no-repeat center 25px, -webkit-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-bundles-link-active.png") no-repeat center 25px, -moz-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-bundles-link-active.png") no-repeat center 25px, -ms-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-bundles-link-active.png") no-repeat center 25px, -o-linear-gradient(top, #535353, #2f2f2f);
            background: url("../images/icon-bundles-link-active.png") no-repeat center 25px, linear-gradient(top, #535353, #2f2f2f);
        }
        a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 60px 25px 25px 25px;
        }
        .active {
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.5);
        }

    }
}

.nav-wrapper {
    background-image: -webkit-linear-gradient(top, #d5d5d5, #ddd);
    background-image: -moz-linear-gradient(top, #d5d5d5, #ddd);
    background-image: -ms-linear-gradient(top, #d5d5d5, #ddd);
    background-image: -o-linear-gradient(top, #d5d5d5, #ddd);
    background-image: linear-gradient(top, #d5d5d5, #ddd);
    overflow: hidden;
    font-size: 12px;

    nav {
        border-bottom: 1px solid #d0d0d0;
        float: left;
        ul.tabs {
            li {
                display: block;
                float: left;
                a, a:visited {
                    display: block;
                    padding: 5px 10px;
                    color: #444;
                    text-decoration: none;
                }
            }
            li.active {
                a {
                    background: #fff;
                    height: 20px;
                    bottom: 0;
                }
            }
        }
    }
    .notifications-list {
        float: right;
        margin: 0 20px 0 0;
        li {
            float: left;
            margin: 5px;
        }
        li a {
            display: block;
            width: 20px;
            height: 20px;
            text-indent: -9999px;
        }
        li.info {
            background: url("../images/icon-notification-info.png") no-repeat center center;
        }
        li.warning {
            background: url("../images/icon-notification-warning.png") no-repeat center center;
        }
        li.refresh {
            background: url("../images/icon-notification-refresh.png") no-repeat center center;
        }
    }
}

.row.bototm-0 {
    margin-bottom: 0;
}

.main-wrapper {
    .left-column {
        width: 50%;
        float: left;
    }
    .right-column {
        width: 50%;
        float: left;
    }
    .area {
        margin: 10px;
        overflow:hidden;
        h3 {
            font-size: 14px;
            color: #666;
            border-bottom: 1px solid #ccc;
            padding: 0 0 5px 10px;
            font-weight: normal;
            margin: 30px 0 10px 0;
        }
        .events-table {
            font-size: 12px;
            line-height: 20px;
            width: 100%;
            color: #666;
            [data-message-type=warning] {
                color: #ff4848;
            }
            tr {
                border-bottom: 1px solid #f2f2f2;
            }
            td {
                padding: 10px;
            }
            td.event-icon-cell {
                width: 1%;
            }
            td.message-cell {
                width: 70%;
            }
            td.time-ago-cell {
                width: 27%;
            }
            td.remove-link-cell {
                width: 1%;
            }
            td.pin-link-cell {
                width: 1%;
            }
            [data-message-type=notification] span.icon {
                background: url("../images/icon-dummy-01.png") no-repeat center center;
                width: 20px;
                height: 20px;
                display: block;
            }
            [data-message-type=warning] span.icon {
                background: url("../images/icon-dummy-02.png") no-repeat center center;
                width: 20px;
                height: 20px;
                display: block;
            }
            .icon-dummy-03 {
                background: url("../images/icon-dummy-03.png") no-repeat center center;
                width: 20px;
                height: 20px;
                display: block;
            }
            .icon-remove {
                background: url("../images/icon-remove.png") no-repeat center center;
                width: 20px;
                height: 20px;
                display: block;
            }
            .icon-pin {
                background: url("../images/icon-pin.png") no-repeat center center;
                width: 20px;
                height: 20px;
                display: block;
            }
        }
        .labs-list {
            font-size: 12px;
            color: #666;
            > li {
                width: 50%;
                float: left;
                display: block;
                .lab-actions {
                    margin-top: -40px;
                    margin-right: 10px;
                    display: block;
                    overflow: hidden;
                    float: right;
                    a {
                        display: block;
                        width: 30px;
                        height: 30px;
                        text-indent: -9999px;
                        float: left;
                    }
                    a.clone-link {
                        background: url("../images/icon-lab-clone.png") no-repeat center center;
                    }
                    a.clone-link:hover {
                        background: url("../images/icon-lab-clone-active.png") no-repeat center center, -webkit-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-clone-active.png") no-repeat center center, -moz-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-clone-active.png") no-repeat center center, -ms-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-clone-active.png") no-repeat center center, -o-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-clone-active.png") no-repeat center center, linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                    }

                    a.edit-link {
                        background: url("../images/icon-lab-edit.png") no-repeat center center;
                    }
                    a.edit-link:hover {
                        background: url("../images/icon-lab-edit-active.png") no-repeat center center, -webkit-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-edit-active.png") no-repeat center center, -moz-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-edit-active.png") no-repeat center center, -ms-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-edit-active.png") no-repeat center center, -o-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-edit-active.png") no-repeat center center, linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                    }

                    a.remove-link {
                        background: url("../images/icon-lab-remove.png") no-repeat center center;
                    }
                    a.remove-link:hover {
                        background: url("../images/icon-lab-remove-active.png") no-repeat center center, -webkit-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-remove-active.png") no-repeat center center, -moz-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-remove-active.png") no-repeat center center, -ms-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-remove-active.png") no-repeat center center, -o-linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                        background: url("../images/icon-lab-remove-active.png") no-repeat center center, linear-gradient(top, rgba(0, 168, 255, 1), rgba(0, 138, 234, 1));
                    }

                }

            }
            .lab-container {
                padding: 20px 20px 50px 70px;
                margin: 10px;
                background: #f2f2f2 url("../images/icon-dummy-04.png") no-repeat 25px center;
                h4 {
                    font-size: 14px;
                    font-weight: normal;
                    margin-bottom: 5px;
                    color: #333;
                }
            }
        }
        .recent-events-list {
            li {
                display: block;
                padding: 20px 10px 20px 70px;
                margin: 0;
                font-size: 12px;
                color: #666;
                border-bottom: 1px solid #f2f2f2;
                h4 {
                    font-size: 14px;
                    font-weight: normal;
                    margin-bottom: 5px;
                    color: #333;
                }
            }
            [data-message-type="icon-01"] {
                background: url("../images/icon-dummy-05.png") no-repeat 10px center;
            }
            [data-message-type="icon-02"] {
                background: url("../images/icon-dummy-06.png") no-repeat 10px center;
            }
        }
        .service-feed {
            background-image: -webkit-linear-gradient(top, #333, #111);
            background-image: -moz-linear-gradient(top, #333, #111);
            background-image: -ms-linear-gradient(top, #333, #111);
            background-image: -o-linear-gradient(top, #333, #111);
            background-image: linear-gradient(top, #333, #111);
            border-radius: 3px;
            font-size: 10px;
            color: #eee;
            overflow: hidden;
            .title {
                height: 0;
                padding: 7px 10px;
                display: block;
                float: left;
                background: transparent;
                border-right: 20px solid transparent;
                border-bottom: 34px solid #444;
                line-height: 53px;
                margin-top: -20px;
                font-weight: bold;
            }
            ul.messages-list {
                float: left;
                li {
                    padding: 7px 10px;
                    display: block;
                    float: left;
                    width: 760px;
                }
            }
            .next-message-link, .previous-message-link {
                margin: 9px 10px 0 0;
                display: block;
                float: right;
                text-indent: -9999px;
            }
            .next-message-link {
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid #ddd;

            }
            .previous-message-link {
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid #ddd;

            }
        }
        .current-state-box{
            float:left;
            width:33.33%;
            font-size:12px;
            .content{
                margin:10px;
                background:#eee;
            h4{
                padding: 10px 20px;
                color:#fff;
                font-weight:normal;
                font-size:18px;
                overflow:hidden;
                line-height:0;
                span.counter{
                    font-size:34px;
                    display:block;
                    margin:20px 0;
                    float:left;
                    }
                span.title{
                background:yellow;
                margin:20px 0 20px 15px;
                display:block;
                float:left;
                }
                }
            .messages-list{
                padding:20px 40px;
                list-style-type:decimal;
                li{
                    margin:4px 0;
                   }
            }
            }
        }
        .current-state-box[data-box-type=running-good]{
            h4 {
                background-image: -webkit-linear-gradient(top, #5ec700, #318a00);
                background-image: -moz-linear-gradient(top, #5ec700, #318a00);
                background-image: -ms-linear-gradient(top, #5ec700, #318a00);
                background-image: -o-linear-gradient(top, #5ec700, #318a00);
                background-image: linear-gradient(top, #5ec700, #318a00);
                border-bottom: 1px solid #227700;
                }
            .content{
                background:#fbfffa;
                border:1px solid #cde9b5;
            }
            ol{
                color:#117900;
            }

        }
        .current-state-box[data-box-type=alerts]{
            h4 {
                background-image: -webkit-linear-gradient(top, #ffba00, #dd9c00);
                background-image: -moz-linear-gradient(top, #ffba00, #dd9c00);
                background-image: -ms-linear-gradient(top, #ffba00, #dd9c00);
                background-image: -o-linear-gradient(top, #ffba00, #dd9c00);
                background-image: linear-gradient(top, #ffba00, #dd9c00);
                border-bottom: 1px solid #cc8800;
                }

            .content{
                background:#fffbf2;
                border:1px solid #ffe7b4;
            }
            ol{
                color:#d67e00;
            }
        }
        .current-state-box[data-box-type=critical-issues]{
            h4 {
                background-image: -webkit-linear-gradient(top, #ff4e00, #ea0000);
                background-image: -moz-linear-gradient(top, #ff4e00, #ea0000);
                background-image: -ms-linear-gradient(top, #ff4e00, #ea0000);
                background-image: -o-linear-gradient(top, #ff4e00, #ea0000);
                background-image: linear-gradient(top, #ff4e00, #ea0000);
                border-bottom: 1px solid #bb0000;
                }
            .content{
                background:#fff6f2;
                border:1px solid #ffcbb4;
            }
            ol {
                color:#fd4800;
            }
        }
        .lab-action{
                float:left;
                width:25%;
                .content{
                    background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
                    background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
                    background-image: -ms-linear-gradient(top, #fefefe, #f4f4f4);
                    background-image: -o-linear-gradient(top, #fefefe, #f4f4f4);
                    background-image: linear-gradient(top, #fefefe, #f4f4f4);
                    border:1px solid #e6e6e6;
                    padding:15px 15px 15px 60px;
                    margin:10px;
                    h4 {
                        color:#666;
                        font-size:14px;
                        font-weight:bold;
                        margin-bottom:5px;
                    }
                    p {
                        color:#777;
                        font-size:12px;
                        font-weight:normal;
                    }
            }
        }
        .lab-overview{
                margin:10px;
                h4{
                    font-size:18px;
                    color:#666;
                    font-weight:normal;
                    margin-bottom:5px;
                }
                p{
                    font-size:12px;
                    color:#333;
                }
            }
        .lab-performance{
            margin:20px 10px;
            padding:10px;
            background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
            background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
            background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
            background-image: -o-linear-gradient(top, #fefefe, #fafafa);
            background-image: linear-gradient(top, #fefefe, #fafafa);
            border:1px solid #e6e6e6;
            overflow:hidden;
        }
    }

}
