.clear
    clear: both
.right
    float: right

button.basic-blue
    color:#fff
    background-image: -webkit-linear-gradient(top, #509eff, #147dff)
    background-image: -moz-linear-gradient(top, #509eff, #147dff)
    background-image: -ms-linear-gradient(top, #509eff, #147dff)
    background-image: -o-linear-gradient(top, #509eff, #147dff)
    background-image: linear-gradient(top, #509eff, #147dff)
    border: none
    padding: 10px 25px
    font-size: 12px
    font-weight: bold
    font-family:'Tahoma',sans-serif

.clone-button
    span
        background: url('../images/icon-lab-clone-active.png') no-repeat left center
        padding-left:25px